<div fxLayout="column">
  <div>
    <h1>Buscador de Héroes</h1>
    <mat-divider></mat-divider>
  </div>

  <div fxLayout="column">
    <h3>Buscador</h3>

    <mat-form-field>
      <input
        type="text"
        placeholder="Escriba una heroe"
        aria-label="Number"
        matInput
        [(ngModel)]="termino"
        [matAutocomplete]="auto"
        (input)="buscando()"
      />

      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="opcionSeleccionada($event)"
      >
        <mat-option *ngFor="let heroe of heroes" [value]="heroe">
          {{ heroe.superhero }}
        </mat-option>

        <mat-option value="" *ngIf="heroes.length == 0 && termino.length > 0">
          No se han encontrado nada con el término {{ termino }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div>
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="30px"
      *ngIf="heroeSeleccionado"
    >
      <div fxFlex="50">
        <h1>
          {{ heroeSeleccionado.superhero }}
          <small>- {{ heroeSeleccionado.alter_ego }}</small>
        </h1>
        <mat-divider></mat-divider>
        <br />
        <img [src]="heroeSeleccionado | imagen" alt="" />
      </div>

      <div fxFlex="50">
        <h1>{{ heroeSeleccionado.publisher }}</h1>
        <mat-divider></mat-divider>

        <mat-list>
          <mat-list-item>{{
            heroeSeleccionado.first_appearance
          }}</mat-list-item>
          <mat-list-item>{{ heroeSeleccionado.characters }}</mat-list-item>
          <mat-list-item>{{ heroeSeleccionado.publisher }}</mat-list-item>
          <mat-list-item>{{ heroeSeleccionado.alter_ego }}</mat-list-item>
        </mat-list>
        <br />
      </div>
    </div>
  </div>
</div>
